/*
  코드 블럭 - Container 영역
*/
div[class^="CodeBlock_container"]
{
  border-radius: 20px !important;
  filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.15));
  background-color: #282C34 !important;
  margin-bottom: 12px !important;
}

div[class^="CodeBlock_code"]:before
{
  content: "•••";
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #FF5F56, #FF5F56 37%,
    #FFBD2E 33%, #FFBD2E 66%,
    #27C93F 66%, #27C93F
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 50px;
  width: 75px;
  letter-spacing: -25px;
  line-height: 0.5;
  position: absolute;
  top: 12px;
  left: 5px;
}

/*
  코드 블럭 - Code 영역
*/
div[class^="CodeBlock_code"]
{
  padding-top: 44px !important;
  padding-bottom: 25px !important;
  color: #ABB2BF !important;
}

/*
  코드 블럭 - Language 영역
*/
div[class^="CodeBlock_language"]
{
  top: 15px !important;
  left: 0px !important;
  right: 15px;
}

div[class^="CodeBlock_content"] {
  animation: textAnim 5s ease-out infinite, nudgeText 5s ease-out infinite !important;
  background: linear-gradient(-45deg, #5FAAE8, #00DADF, #A4F68F, #F9F871);
  background-size: 250% 500%;
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
}

/*
  코드 블럭 - Copy 영역
*/
div[class^="CodeBlock_right"] {
  display: none !important;
}

/*
  코드 블럭 - Caption 영역
*/
div[class^="CodeBlock_container"]
> :nth-child(2)
{
  position: absolute;
  top: 10px;
  width: 100% !important;
  background: transparent !important;
  text-align: center !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  font-weight: 700;
}

/*
  코드 블럭 - Caption 내부 영역
*/
div[class^="CodeBlock_container"]
> :nth-child(2)
> div
{
  width: 500px !important;
}

/*
  코드블럭 - 코드 키워드 색상
*/
/* 🔴 빨간색 */
.notion-code-block span[class="token script language-javascript tag"],
.notion-code-block span[class="token class-name tag"],
.notion-code-block span[class="token parameter"],
.notion-code-block span[class="token unit"],
.notion-code-block span[class="token literal-property property"],
.notion-code-block span[class="token spread tag"],
.notion-code-block span[class="token keyword interpolation template-string"],
.notion-code-block span[class="token unit atrule"],
.notion-code-block span[class="token selector"],
.notion-code-block span[class="token variable"],
.notion-code-block span[class="token atrule language-css style"],
.notion-code-block span[class="token unit language-css style"],
.notion-code-block span[class="token entity named-entity"] {
  color: #E06C75 !important;
  background-color: transparent !important;
}

/* 🟠 주황색 */
.notion-code-block span[class="token attr-name tag"],
.notion-code-block span[class="token class selector"],
.notion-code-block span[class="token hexcode color"],
.notion-code-block span[class="token number script language-javascript tag"],
.notion-code-block span[class="token punctuation attribute selector"],
.notion-code-block span[class="token attr-name attribute selector"],
.notion-code-block span[class="token color"],
.notion-code-block span[class="token keyword script language-javascript tag"],
.notion-code-block span[class="token boolean"],
.notion-code-block span[class="token boolean script language-javascript tag"],
.notion-code-block span[class="token number interpolation template-string"],
.notion-code-block span[class="token number atrule"],
.notion-code-block span[class="token number color"],
.notion-code-block span[class="token number language-css style"],
.notion-code-block span[class="token class selector language-css style"],
.notion-code-block span[class="token language-css style"] {
  color: #D19A66 !important;
}

/* 🟡 노란색 */
.notion-code-block span[class="token builtin"],
.notion-code-block span[class="token tag"],
.notion-code-block span[class="token interpolation template-string script language-javascript tag"],
.notion-code-block span[class="token class-name"],
.notion-code-block span[class="token builtin class-name"],
.notion-code-block span[class="token class-name tag"],
.notion-code-block span[class="token generic class-name generic-function"],
.notion-code-block span[class="token interpolation template-string"],
.notion-code-block span[class="token builtin generic class-name generic-function"],
.notion-code-block span[class="token builtin script language-javascript tag"],
.notion-code-block span[class="token constant"],
.notion-code-block span[class="token keyword generic class-name generic-function"],
.notion-code-block span[class="token constant script language-javascript tag"] {
  color: #E5C07B !important;
}

/* 🟢 초록색 */
.notion-code-block span[class="token string"],
.notion-code-block span[class="token punctuation attr-value tag"],
.notion-code-block span[class="token attr-value tag"],
.notion-code-block span[class="token string script language-javascript tag"],
.notion-code-block span[class="token string template-string script language-javascript tag"],
.notion-code-block span[class="token attr-value attribute selector"],
.notion-code-block span[class="token template-punctuation string template-string"],
.notion-code-block span[class="token string template-string"],
.notion-code-block span[class="token string-property property"],
.notion-code-block span[class="token string interpolation template-string script language-javascript tag"],
.notion-code-block span[class="token string template-string interpolation"],
.notion-code-block span[class="token string url"] {
  color: #98C379 !important;
  background-color: transparent !important;
}

/* 🔵 파란색 */
.notion-code-block span[class="token function"],
.notion-code-block span[class="token function-variable function"],
.notion-code-block span[class="token function script language-javascript tag"],
.notion-code-block span[class="token function generic-function"] {
  color: #5FAAE8 !important;
}

/* 🟣 보라색 */
.notion-code-block span[class="token keyword"],
.notion-code-block span[class="token operator interpolation template-string"],
.notion-code-block span[class="token rule atrule"],
.notion-code-block span[class="token punctuation url"],
.notion-code-block span[class="token rule atrule language-css style"] {
  color: #C678DD !important;
  background-color: transparent !important;
}

/* 🟤 갈색 */
.notion-code-block span[class="token number"] {
  color: #D19A66 !important;
}

/* ⚪ 회색 */
.notion-code-block span[class=""],
.notion-code-block span[class="token punctuation tag"],
.notion-code-block span[class="token punctuation script language-javascript tag"],
.notion-code-block span[class="token interpolation-punctuation punctuation interpolation template-string script language-javascript tag"],
.notion-code-block span[class="token property"],
.notion-code-block span[class="token operator script language-javascript tag"],
.notion-code-block span[class="token operator attribute selector"],
.notion-code-block span[class="token plain-text"],
.notion-code-block span[class="token operator generic class-name generic-function"],
.notion-code-block span[class="token punctuation generic class-name generic-function"],
.notion-code-block span[class="token punctuation spread tag"],
.notion-code-block span[class="token operator spread tag"],
.notion-code-block span[class="token punctuation atrule"],
.notion-code-block span[class="token property atrule"],
.notion-code-block span[class="token combinator selector"],
.notion-code-block span[class="token selector language-css style"],
.notion-code-block span[class="token property language-css style"] {
  color: #ABB2BF !important;
  background-color: transparent !important;
}

/* 🎨 짙은 회색 (주석색) */
.notion-code-block span[class="token comment tag"] {
  color: #708090 !important;
}

/* 🎨 민트색 */
.notion-code-block span[class="token operator"],
.notion-code-block span[class="token script-punctuation punctuation script language-javascript tag"],
.notion-code-block span[class="token punctuation attr-equals attr-value tag"],
.notion-code-block span[class="token pseudo-class selector"],
.notion-code-block span[class="token pseudo-element selector"],
.notion-code-block span[class="token operator interpolation template-string script language-javascript tag"],
.notion-code-block span[class="token function color"],
.notion-code-block span[class="token function url"],
.notion-code-block span[class="token function language-css style"] {
  color: #56B6C2 !important;
  background: transparent !important;
}

/* 🎨 배경 투명색 */
.notion-code-block span[class="token operator interpolation template-string script language-javascript tag"] {
  background-color: transparent !important;
}